In [1]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
database_name= 'scooters'
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

EDA

In [3]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

pd.read_sql(query, con = engine)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird
...,...,...,...,...,...,...,...,...,...
95,2019-05-01 00:01:41.247,36.141158,-86.801997,PoweredWDMWW,Powered,69.0,scooter,0.0,Bird
96,2019-05-01 00:01:41.247,36.138786,-86.801667,PoweredSNB79,Powered,88.0,scooter,0.0,Bird
97,2019-05-01 00:01:41.247,36.162634,-86.781603,PoweredM69E2,Powered,91.0,scooter,0.0,Bird
98,2019-05-01 00:01:41.247,36.144795,-86.795576,PoweredHY38F,Powered,88.0,scooter,0.0,Bird
99,2019-05-01 00:01:41.247,36.165809,-86.777780,Powered2WLYW,Powered,98.0,scooter,0.0,Bird

In [4]:
with engine.connect() as connection:
    scooters = pd.read_sql(query, con = connection)

scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

In [5]:
with engine.connect() as connection:
    scooters = pd.read_sql(query, con = connection)
scooters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pubdatetime  100 non-null    datetime64[ns]
 1   latitude     100 non-null    float64
 2   longitude    100 non-null    float64
 3   sumdid       100 non-null    object
 4   sumdtype     100 non-null    object
 5   chargelevel  100 non-null    float64
 6   sumdgroup    100 non-null    object
 7   costpermin   100 non-null    float64
 8   companyname  100 non-null    object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 7.2+ KB

In [6]:
totalscooters = '''
SELECT COUNT (DISTINCT (sumdid))
FROM scooters;
'''

scootercount = pd.read_sql(totalscooters, con = engine)
scootercount

   count
0  10018

In [7]:
eachcompanycount='''
SELECT companyname, COUNT(DISTINCT(sumdid))
FROM scooters
GROUP BY companyname;
'''
companycount= pd.read_sql(eachcompanycount, con=engine)
companycount

  companyname  count
0        Bird   3860
1        Bolt    360
2      Gotcha    224
3        Jump   1210
4        Lime   1824
5        Lyft   1735
6        Spin    805

In [8]:
timeframe= '''
SELECT MIN (pubdatetime), MAX(pubdatetime)
FROM scooters;
'''
scooterstimeframe= pd.read_sql(timeframe, con=engine)
scooterstimeframe

                      min                 max
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57